footer {
    margin-top: 50px;
    margin-bottom: 50px;

    .footer {
        @include main;

        a {
            font-family: exorcet;
            color: map-get($color, "hueso");

            &:hover {
                color: map-get($color, "enlazes");
            }
        }
    }

    h3 {
        color: black;
        font-family: exorcet;
    }
}