// etiquetas generales //

p {
    color: map-get($color, "negro");
}

h1 {
    @include titulos;
    text-align: center;
}

h2 {
    @include titulos;
    font-size: 30px;

    img {
        padding-right: 20px;
    }

    @include medidas() {
        font-size: 20px;
    }

    @include medidas(768px) {
        font-size: 15px;
    }
}

h3 {
    @include titulos;

    @include medidas() {
        font-size: 20px;
    }

    @include medidas(768px) {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    @include medidas(576px) {
        font-size: 12px;
        text-align: center;
    }
}

h4 {
    @include titulos;

    @include medidas(768px) {
        font-size: 15px;
    }
}

// main index //
.main-index {
    @include main;

    .titulo-index {
        @include titulos;
        text-align: center;
    }
}

// main guia //
.main-guia {
    @include main;

    .ul-guia {
        li {
            a {
                @include enlazes;
            }
        }
    }

    .titulo-actos {
        margin: 20px 0px;

        @include medidas() {
            img {
                width: 30px;
            }
        }

        @include medidas(768px) {
            img {
                width: 20px;
            }
        }

        @include medidas (576px) {
            img {
                width: 30px;
            }

            .actos-img {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 10px;
            }
        }
    }
}

// main clase //
.main-clases {
    @include main;

    .inicio-clases {
        .ul-clases {
            li {
                padding: .5rem 1rem;
                color: map-get($color, "negro");

                img {
                    padding: 5px;
                }

                a {
                    margin: 0 !important;
                    padding: 0 !important;
                    @include enlazes;
                }
            }
        }
    }

    section {
        article {
            .listas-clases {
                display: block;
                color: map-get($color, "negro");
                text-decoration: none;

                img {
                    padding: 5px 5px;

                    @include medidas(576px) {
                        width: 40px;
                        float: none;
                    }
                }

                @include medidas() {
                    display: block;
                    color: map-get($color, "negro");
                }

                @include medidas(768px) {
                    display: block;
                    color: map-get($color, "negro");
                }

                @include medidas(576px) {
                    display: block;
                    color: map-get($color, "negro");
                }
            }

            .lista-objetos {
                color: map-get($color, "negro");
            }

            .imagen-clases {
                float: left;

                @include medidas(576px) {
                    width: 50%;
                }
            }
        }
    }
}

// main mercenarios //
.main-mercenarios {
    @include main;

    .ul-mercenarios {
        color: map-get($color, "negro");

        li {
            a {
                @include enlazes;
            }

            img {
                margin: 5px 5px;
            }

            @include medidas(768px) {
                text-align: center;
            }

            @include medidas(576px) {
                text-align: center;
            }
        }
    }
}

// main contacto //
.main-contacto {
    @include main;

    form {
        textarea {
            @include textarea
        }
    }
}